<link rel="stylesheet" href="{{$.Site.BaseURL}}/css/custom.css">
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha256-uXNHy6FK52Pb83SmU45mVAg7YECmr9Lwwu1zOz31j5c=" crossorigin="anonymous"-->
<link rel="stylesheet" href="{{$.Site.BaseURL}}/cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha256-uXNHy6FK52Pb83SmU45mVAg7YECmr9Lwwu1zOz31j5c=" crossorigin="anonymous">
<!-- script src="https://d3js.org/d3.v7.min.js"></script -->
<script src="{{$.Site.BaseURL}}/d3/d3.min.js"></script>
