{{ if .Get "version" }}
{{ $version := .Get "version" }}
<a href="https://octopus-code.org/download/{{$version}}/octopus-{{$version}}.tar.gz">Octopus {{$version}}</a>
{{ else }}
{{ $version := .Site.Params.Version }}
<a href="https://octopus-code.org/download/{{$version}}/octopus-{{$version}}.tar.gz">Octopus {{$version}}</a>
{{ end }}
